.buttonContainer{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
	
  
	border-style: outset;
	border-radius: 25px;
	border: rounded;
	margin-bottom: 20px;
	padding-top: 80px;
	margin-left: 150px;
	margin-right: 150px;
	background-color: rgb(58, 58, 58);
}
.textBox{
	margin-right: -70px;
}
#text{
	font-family: Times New Roman;
	color: white;
	font-size: 20px;
	border-bottom-style: solid;
	border-color: white;
	margin-right: 105px;
	margin-bottom: 10px;
}
#text:hover{
	cursor: pointer;
	background-color: rgb(128, 128, 128);
}
#delCat{
	margin-bottom: 100px;
	padding: 10px 10px;
	border: none;
	border-radius: 4px;
	background-color: rgb(161, 161, 161);
	font-family: arial;
	font-size: 15px;
}
#delCat:hover{
	cursor: pointer;
	background-color: rgb(128, 128, 128);
}
#delDog{
	margin-bottom: 100px;
	padding: 10px 10px;
	border: none;
	border-radius: 4px;
	background-color: rgb(161, 161, 161);
	font-family: arial;
	font-size: 15px;
}
#delDog:hover{
	cursor: pointer;
	background-color: rgb(128, 128, 128);
}
#delChicken{
	margin-bottom: 100px;
	padding: 10px 10px;
	border: none;
	border-radius: 4px;
	background-color: rgb(161, 161, 161);
	font-family: arial;
	font-size: 15px;
}
#delChicken:hover{
	cursor: pointer;
	background-color: rgb(128, 128, 128);
}
#delKangaroo{
	margin-bottom: 100px;
	padding: 10px 10px;
	border: none;
	border-radius: 4px;
	background-color: rgb(161, 161, 161);
	font-family: arial;
	font-size: 15px;
}
#delKangaroo:hover{
	cursor: pointer;
	background-color: rgb(128, 128, 128);
}